# pyinstaller
__pycache__/
build/*
dist/*
!dist/setup_script.iss
.venv
version.txt

# Ignore spec files created by pyinstaller
*.spec
!WPKG-GP Client.spec

# ini file for the WPKG client
# This file is used to configure the WPKG client settings.
wpkg-gp-client.ini